<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A01_2021 Flag</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/"><img src="/static/images/logo_hori.png" alt="GrubBug Logo" width="200"></a>
        </div>
        <nav>
            <ul>
                <li>Welcome, {{ user }} </li>
                <li><form action="/logout"><button type="submit">Logout</button></form></li>
                <li><form action="/mainpage"><button type="submit">Move to Homepage</button></form></li>
            </ul>
        </nav>
    </div>
</header>

    <main>
        <h2>Congratulations! You reached the A01:2021 Flag page.</h2>
        <form action="/mainpage">
            <button type="submit">Move to Homepage</button>
        </form>
        <form>
            <button type="submit">Mark A01:2021 Complete</button>
        </form>
    </main>

    <footer>

</footer>


</body>
</html>