<!DOCTYPE html>
<html>
<head>
    <title>Config Directory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<h3>Config Directory</h3>
<ul>
  <li><a href="/A05_2021/config/settings.py">settings.py</a></li>
  <li><a href="/A05_2021/config/db.conf">db.conf</a></li>
  <li><a href="/A05_2021/Profiles.db">db.conf</a></li>
  <li><a href="/A05_2021/config/secrets.txt">secrets.txt</a></li>
  <li><a href="/A05_2021/ToDoList.txt">db.conf</a></li>
</ul>
</body>
</html>