<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/"><img src="/static/images/logo_hori.png" alt="GrubBug Logo" width="200"></a>
            </div>
        </div>
    </header>

<main>
    <div class="container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <label>Username:</label>
            <input type="text" name="username" required><br><br>
            <label>Password:</label>
            <input type="password" name="password" required><br><br>
            <button type="submit">Login</button>
        </form>
    </div>

    
</main>
</body>
</html>